{% extends 'base.html' %}

{% block content %}
<style>
  .glow-on-hover {
    transition: 0.5s ease;
  }
  .glow-on-hover:hover {
    box-shadow: 0 0 10px 2px rgba(220, 245, 0, 0.7); /* Adjust the color and spread as needed */
  }
  .table-container {
    width: 100%; /* Adjust width as needed */
    overflow-x: auto;
  }
</style>
<br>
<div class="row" style="background-color: #f0f0f0; box-sizing: border-box; margin: 10px; padding: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); justify-content: space-between; font-family: 'Orbitron', sans-serif;">
  <H1 style="text-align: center;">Roster</H1>
  {% if infielders %} 
  <br>
  <h5>Infielders</h5>
  <div class="table-container">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Position</th>
        </tr>
      </thead>
      <tbody>
        {% for player in infielders %}
        <tr>
          <td><a href="{% url 'player' player_id=player.player_id group=player.group  %}" style="color: white; text-decoration: none;" class="glow-on-hover">{{ player.player_name }}</a></td>
          <td>{{ player.player_postion_type }}</td>
          <td>{{ player.player_position }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h4>No Data</h4>
  {% endif %} 

  {% if outfielders %} 
  <br>
  <h5>Outfielders</h5>
  <div class="table-container">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Position</th>
        </tr>
      </thead>
      <tbody>
        {% for player in outfielders %}
        <tr>
          <td><a href="{% url 'player' player_id=player.player_id group=player.group %}"style="color: white; text-decoration: none;" class="glow-on-hover">{{ player.player_name }}</a></td>
          <td>OF</td>
          <td>{{ player.player_position }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h4>No Data</h4>
  {% endif %} 

  {% if catchers %} 
  <br>
  <h5>Catchers</h5>
  <div class="table-container">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Position</th>
        </tr>
      </thead>
      <tbody>
        {% for player in catchers %}
        <tr>
          <td><a href="{% url 'player' player_id=player.player_id group=player.group %}" style="color: white; text-decoration: none;" class="glow-on-hover">{{ player.player_name }}</a></td>
          <td>{{ player.player_postion_type }}</td>
          <td>{{ player.player_position }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h4>No Data</h4>
  {% endif %} 

  {% if pitchers %} 
  <br>
  <h5>Pitchers</h5>
  <div class="table-container">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Position</th>
        </tr>
      </thead>
      <tbody>
        {% for player in pitchers %}
        <tr>
          <td><a href="{% url 'player' player_id=player.player_id group=player.group %}"style="color: white; text-decoration: none;" class="glow-on-hover">{{ player.player_name }}</a></td>
          <td>{{ player.player_postion_type }}</td>
          <td>{{ player.player_position }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h4>No Data</h4>
  {% endif %} 
</div>
{% endblock %}